<footer class="footer">
  <ul class="menu">
    <li class="link">
      <%= link_to "關於", about_path %>
    </li>
    <li class="link">
      <%= link_to "原始碼", source_path %>
    </li>
  </ul>
  <a href="https://5xruby.tw">五倍紅寶石</a>
</footer>
