<div class="starter">
  <div class="main">
    <h2>
      <span class="text-5xl">嘿，準備好你的錢錢了嗎？</span>
      <span class="text-pink-600 mt-2">是時候來儲值你的信仰值了...</span>
    </h2>
    <div class="sub">
      <div class="inline-flex rounded-md shadow">
        <%= link_to new_order_path, class: 'text-white bg-pink-600 hover:bg-pink-700' do %>
        好了，可以開始了 <i class="ml-2 fas fa-money-check-alt"></i>
        <% end %>
      </div>
      <div class="ml-3 inline-flex">
        <a href="https://5xruby.tw" class="text-pink-700 bg-pink-100 hover:bg-pink-200">
          關於
        </a>
      </div>
    </div>
  </div>
</div>
