<h1 class="heading">原始碼</h1>

<article>
  <h2 class="text-xl">專案</h2>
  <a href="https://github.com/5xTraining/donate_me">GitHub Repository</a>

  <h2 class="text-xl mt-2">Sinopac FunBiz 套件</h2>
  <div class="flex">
    <a href="https://github.com/5xTraining/sinopac-funbiz" class="mr-2">原始碼</a>
    <a href="https://rubygems.org/gems/sinopac-funbiz">安裝</a>
  </div>
</article>
